img{
    width: 100%;
    height: 70vh;
}
.heading{
    margin-top: 30px;
    text-align: center;
    font-size: 90px;
    font-weight: 500px;
}
span{
    color: rgb(231, 65, 57);
}
.row{
    margin-top: 30px;
}
.card-text{
       color: rgb(5, 131, 45);
}
